

.random-game-container{
    width: 400px;
    height: 500px;
    background-color: grey;
    margin: 0 auto;
}
.item{
    padding: 80px;
}
#input{
    padding: 20px;
}
#textarea{
    padding: 20px;
}
.given-number{
    padding: 10px;
}
.random-number{
    padding: 10px;
}
#btn{
    padding: 10px;
    width: 100%;
    background-color: green;
    color: white;
    cursor: pointer;
}
#output{
    padding: 10px;
    width: 100%;
}